.foot .css-mhc70k-MuiGrid-root {
    text-align: center;
}
.li::after {
    
        font-size: 15px;
        font-weight: bold;
        color: #080808;
        display: block;
        font-family: revicons;
        text-align: center;
        z-index: 2;
        position: relative;
}
.mobilefoot{
    display: flex;
    
}
.icons{
    text-align: center;
    margin-top: 3vh;
}
.copy{
    font-size: 0.8rem;
    text-align: center;
    padding-left: 20px;
}