.search{
    display: flex;
    width: 77vw;
    align-items:center;
    justify-content: center;
    vertical-align: middle;
    background-color: #cee0f3;
    border-radius: 25px;
    height: 80px;


}
.input1{
    width: 25vw;
    padding-left: 35px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.input2{
    width: 45vw;
    padding-left: 1vw;
}
.input3{
    width: 25vw;
    padding-left: 1vw;
}

.searchIcon{
    margin-right: 1vw;
    color:rgb(0 0 0 1.54);
}
.icon{
    font-size: 40px;
}
.MuiFormHelperText-root {
    margin-top: 0%;
    padding-top: 0%;
    color: #00000091 !important ;
}
  .MuiOutlinedInput-root {
    padding-right: 7px;
    background-color: white;
    box-shadow: 0px 1px 2px #80808054;
}
.search .MuiAutocomplete-hasPopupIcon.css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 39px;
    border-radius: 5px;
    height: 35px;
}
.search .css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0px;
}
