.search{
    display: flex;
    width: 72vw;
    background-color: #cee0f3;
    border-radius: 28px;
    height: 80px;

}
.input1{
    width: 24vw;
    padding-left: 35px;
}
.input2{
    width: 45vw;
    padding-left: 1vw;
}
.input3{
    width: 25vw;
    padding-left: 1vw;
}
.location{
    color: rgba(0, 0, 0, 0.479);
}
.icon .MuiInputAdornment-positionEnd {
    margin-left: 145px;
}
.searchIcon{
    margin-top: 3vh;
    margin-right: 1vw;
    color:rgb(0 0 0 1.54);
}
.icon{
    font-size: 40px;
}
.MuiFormHelperText-root {
    color: #00000091 !important ;
}
  .MuiOutlinedInput-root {
    padding-right: 7px;
    background-color: white;
    box-shadow: 0px 1px 2px #80808054;
}
.search .MuiAutocomplete-hasPopupIcon.css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1kpdewa-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 39px;
    border-radius: 13px;
    height: 40px;
}

