.Bgcolor .css-3il4n3-MuiPaper-root-MuiAppBar-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    
}
.Bgcolor .css-ciy9n4-MuiPaper-root-MuiAppBar-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    
}