.searchDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  padding-top: 22px;
}
.bannertext{
  display: grid;
  justify-content: center;
  padding-top: 105px;
}

.bannertext .css-5lbw0b-MuiTypography-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 2px
}
.text2{
    font-weight: 600;
    color: white;
    font-size: 1.3rem;
    display: grid;
    justify-content: center;
    padding-top: 4px;
}
.mobiletext .css-5lbw0b-MuiTypography-root{
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding-top: 100px;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.text3{
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  display: grid;
  justify-content: center;
}
.text4{
  color:black;
  font-weight: 600;
  font-size: 1.7rem;
}
.mobsearch{
  text-align: center;
}
.mobsearch .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  background-color: white;
  color: #080808;
  border-radius: 25px;
  margin-top: 20px;
}
.rectext .css-5lbw0b-MuiTypography-root {
  margin-left: 60px;
  font-size: 1.7rem;
  padding-top: 40px;
  font-weight: 500;
 }
.shadow{
  box-shadow: 2px 2px 2px lightgrey;
}

.button .css-1qozpde-MuiButtonBase-root-MuiButton-root{
  float: right;
  font-weight: 550;
  border: 2px solid;
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 5vw;
  
}
.button:hover{
  background-color: white;
  border-radius: 20px;
}
.rectext1 .css-ag7rrr-MuiTypography-root {
  margin-left: 15px;
    font-size: 1.1rem;
    padding-top: 20px;
}
 .button1 .css-11jqx3f-MuiButtonBase-root-MuiButton-root{
  border-radius: 20px;
  margin-top: 13vh;
  position: absolute;
  margin-left: 32vw;
}
.button1:hover{
  background-color: white;
  border-radius: 20px;
}
.text5{
  color:black;
  font-weight: 600;
}
.wfhcard{
  height: 40vh;
  width: 70vw;
  margin-top: 5px;
  margin-bottom:  5px;
  margin-left: 8px;
}
.wfhtitle{ 
  padding-left: 20px;
  padding-top: 12px;
}
.wfhcard .css-2ulfj5-MuiTypography-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
}
.wfhcarousel{
  width: 68vw;
    margin-left: 8px;
}
.wfhitem{
 height: 28vh;
  padding-top: 3vh;
}
.wfhcards{
  padding-left: 2vw;
    width: 18vw;
    height: 22vh;
    margin-left: 1.5vw;
    background-color: #d3d3d326 !important;  
}
.wfhcard .react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 25px;
  z-index: 1000;
  border: 0;
  background: rgb(255 255 255);
  min-width: 35px;
  min-height: 35px;
  opacity: 124;
  cursor: pointer;
  box-shadow: 0px 0px 4px lightgrey;
}
.wfhcard .react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.wfhcard .react-multiple-carousel__arrow--right {
  right: calc(0% + 0px);
}
.wfhcard .react-multiple-carousel__arrow:hover {
  background: rgb(255 255 255);
}
.wfhcard .react-multiple-carousel__arrow::before {
  font-size: 15px;
  font-weight: bold;
  color: #080808;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}
.listtitle{  
    padding-left: 10px;
    padding-top: 12px;
}
.top {
  width: 27vw;
  height: 81vh;
  margin-left: 4.5vw; 
  margin-top: 5px;
}
.top .css-2ulfj5-MuiTypography-root{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
}
.listitems{
  text-decoration: none;
  color: #080808a8;
}
.top .viewall{
  margin-left: 20vw;
}
.viewall{
  width: inherit;
  font-size: 15px;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .wfhitem{
    height: 27vh;
  }
  .wfhcards{
    width: 92vw;
  }
  .wfhcard .react-multiple-carousel__arrow {
  display:none;
}
.wfhcarousel{
  margin-top:  10px;
  width: 100vw;
  margin-left: 8px;
}
.wfhcard{
  height: 40vh;
  width: 100vw;
  margin-left: 0vw;
}
.wfhtitle{ 
  padding-left: 20px;
  padding-top: 12px;
}
.top{
  margin-top: 82vh;
  margin-left: -69vw;
  width: 100vw;
  height: 50vh;
}
.viewall{
  margin-left: 70vw;
}
}